<DirectoryMatch "/{dir}">
    AuthType Gluu_ox
    Require valid-user

    # Connect|SAML
    AuthnType Connect

    # Cookie Path
    CookiePath /ox

    # Valid only if AuthnType=Connect
    RequestedACR https://schema.gluu.org/openid/acr/method/saml

    # Valid only if AuthnType=SAML
    #SAMLRedirectUrl http://{domain}/secure/redirect.php

    # General
    OxdHostAddr {oxdhostname}
    OxdPortNum {oxdport}
    MemcachedHostAddr 127.0.0.1
    MemcachedPortNum 11211
    ClientCredsPath /var/www/{dir}/client_creds.json
    SendHeaders on

    # OpenID Connect Required - needed for both UMA and OpenID Connect
    ConnectDiscoveryUrl https://{idp}/oxauth/.well-known/openid-configuration
    ApplicationLoginUrl https://{domain}/{dir}/oxauth/login
    ClientName {domain}/{dir}

    # UMA
    #UmaDiscoveryUrl https://{idp}/oxauth/.well-known/uma-configuration
    #UmaResourceName TestResource
    #UmaRsHost {domain}
    #GETUmaAmHost idp.example.com "https://schema.example.com/uma/readPolicy1;https://schema.example.com/uma/readPolicy2"
    #PUTUmaAmHost idp.example.com "https://schema.example.com/uma/write"
    #POSTUmaAmHost idp.example.com "https://schema.example.com/uma/write"
    #DELETEUmaAmHost idp.example.com "https://schema.example.com/uma/delete"

    #Logout
    ApplicationDestinationUrl http://{domain}/{dir}/dest.html
    ApplicationLogoutUrl https://{domain}/{dir}/logout
    ApplicationPostLogoutUrl https://schema.example.com/oxauth/seam/resource/restv1/oxauth/end_session
    ApplicationLogoutRedirectUrl https://{domain}/{dir}
</DirectoryMatch>

