<html>
    <head>
    <title></title>
    <script language=javascript>
        var uri = window.location.href;
        var redirect_uri = uri.replace("/redirect.html#", "?");
        window.location.href = redirect_uri;
    </script>
    </head>
    <body>
    </body>
</html>
