dn: inum=@!1111!0008!1234!1234,ou=clients,o=@!1111,o=gluu
displayName: oxTrust Demo Client
inum: @!1111!0008!1234!1234
objectClass: oxCustomAttributes
objectClass: oxAuthClient
objectClass: top
oxAuthAppType: web
oxAuthClientSecret: HdUJNbcCCEuZVGC3SjE6imo5fzDeQTV5HdUJNbcCCEs8n8r/51LyJA==
oxAuthIdTokenSignedResponseAlg: RS256
oxAuthLogoURI: http://www.gluu.org/wp-content/themes/gluursn/images/logo.png
oxAuthPolicyURI: http://www.gluu.org/
oxAuthRedirectURI: http://{gluuhostname}/oxTrust/authentication/authcode
oxAuthRedirectURI: http://{gluuhostname}/oxTrust/scim/auth
oxAuthRedirectURI: http://{gluuhostname}:8085/oxTrust/scim/auth
oxAuthRedirectURI: http://{gluuhostname}:8085/oxTrust/authentication/authcode
oxAuthRedirectURI: https://{gluuhostname}/oxTrust/scim/auth
oxAuthRedirectURI: https://{gluuhostname}/oxTrust/authentication/authcode
oxAuthPostLogoutRedirectURI: https://{gluuhostname}/oxTrust/authentication/finishlogout
oxAuthResponseType: token
oxAuthResponseType: code
oxAuthResponseType: id_token
oxAuthScope: inum=@!1111!0009!E4B4,ou=scopes,o=@!1111,o=gluu
oxAuthScope: inum=@!1111!0009!F2D2,ou=scopes,o=@!1111,o=gluu
oxAuthScope: inum=@!1111!0009!D2D2,ou=scopes,o=@!1111,o=gluu
oxAuthScope: inum=@!1111!0009!6D96,ou=scopes,o=@!1111,o=gluu
oxAuthScope: inum=@!1111!0009!A4C4,ou=scopes,o=@!1111,o=gluu
oxAuthTokenEndpointAuthMethod: client_secret_basic
